<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>RetailSales - Order</title>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	
	<body>
		<div class="container" >
			<div class="jumbotron" align="center" style="margin-top: 50px;">
				<h1>Retail Sales</h1>
				<div align="center">
					<a href="viewOrders" class="btn btn-lg btn-primary">View Orders</a>
				</div><br />
				<div align="center">
					<a href="addOrder" class="btn btn-lg btn-primary">Add Order</a>
				</div><br />
				<div align="center">
					<a href="viewPayments" class="btn btn-lg btn-primary">View Payments</a>
				</div><br />
				<div align="center">
					<a href="viewInvoices" class="btn btn-lg btn-primary">View Invoices</a>
				</div>
			</div>
		</div>
	    
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script src="bootstrap/js/bootstrap.min.js"></script>
	
	</body>
	
</html>